.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 1px solid gray;
}

.section-1,
.section-2 {
    background-color: lightpink;
}